<div id="footer">
	<div class="container">
	<div class="column span-24" id="footer_child">
	<div style="float:left;width:200px">(c) DNK MEDIA GROUP</div><div style="float:right;width:320px"><%=link_to "Компании", abouts_path, :class=>"tag"%>&nbsp;&nbsp;&nbsp; <%=link_to "Продукты", products_path, :class=>"tag"%>&nbsp;&nbsp;&nbsp;<%=link_to "Контактная информация", contacts_path, :class=>"tag"%>  </div>
	</div>
	</div>
</div>

</body>
</html>