
<br/>
<h1>Карта покрытия <%=edit_link(edit_map_path(1))%></h1>
<br/>
<div id="map-content"></div>
<script type="text/javascript">
		// <![CDATA[
			var fObj = new FlashObject("/swf/map/dnkmap.swf?2323211", "demohome", "663", "461", 7, "#FFF");
			fObj.addParam("allowFullScreen","false");
			fObj.addVariable("xmlpath", "<%= formatted_list_map_url('all', :xml) %>");
			fObj.write("map-content");
		// ]]>
</script>
<!-- End -->


